body {
  background-image: url("img/day.jpeg");
  background-color: #d4dedd;
  background-size: 1400px 781px;
}

button {
  float: right;
}

p {
  display: inline;
}

small {
  font-family: Papyrus, fantasy;
}

h5 {
  text-align: center;
}

li {
  list-style-type: none;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.weather-app {
  font-family: Papyrus, fantasy;
  margin-top: 20px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  opacity: 0.93;
}

#city-input {
  display: inline-flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 5px;
  font-size: 1em;
  padding: 0.5em;
  width: 150px;
  min-width: 100px;
  max-width: 500px;
}

#city-input:focus {
  width: 200px;
  min-width: 200px;
  transition: all 1s ease;
}

#weather-icon {
  float: right;
}

#temperature {
  font-size: 70px;
}

#wind-speed,
#humidity {
  font-size: 22px;
  position: left;
  padding: 4px;
}

.extra {
  text-align: left;
  padding: 15px;
}

.search-input {
  text-align: center;
}

.dev-info {
  background-color: #d4dedd;
  padding: 7px;
  border-radius: 10px;
}
